body, table {
    font-family: Verdana;
    font-size: 12px;
}

#nav, #nav ul{
    margin:0px auto;
    width: 100%;
    padding:0px;
    list-style-type:none;
    list-style-position:outside;    
    line-height:1.5em; 
    border: 0px solid green; 
    background-color: #4E75AD;    
    
}

#nav a{
    display:block;
    /*padding:0px 5px;*/
    border: 1px solid #CCC;
    color: #333;
    text-decoration:none;
    /*background-color:#333;*/

    width:150px; 
    height:32px;
    text-align:center;
    line-height:2.5;
    font-size: 13px;
    /*background-image:url(../images/bot_up.gif); */
    background-repeat:no-repeat; 
    background-position:center top;

}

#nav a:hover{
    /*background-color:#fff;*/
    color:#FFF;
    /*background-image:url(../images/bot_over.gif);*/
    background-repeat:no-repeat; 
    background-position:center top;    
}

#nav li{
    float:left;
    position:relative;        
}

#nav ul {
    position:absolute;
    display:none;
    width: 100%;
    top:2.5em;
}

#nav li ul a{
    width: 150px; 
    height:32px; 
    float:left;
    color: #FFF;    
}

#nav li ul a:hover {
    background-color: graytext;
}

#nav ul ul{
    top:auto;
}	

#nav li ul ul {
    left:12em;
    margin:0px 0 0 10px;
    width: 100%;    
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{
    display:none;
}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{
    display:block;
}






#nav2, #nav2 ul{
    margin:0;
    padding:0;
    list-style-type:none;
    list-style-position:outside;
    position:relative;
    line-height:1.5em; 
}

#nav2 a{
    display:block;
    padding:0px 5px;
    /*border:1px solid #CCC;*/
    color:#333;
    text-decoration:none;
    /*background-color:#333;*/

    width:140px; 
    height:32px;
    text-align:center;
    line-height:2.5;
    font-size: 13px;
    background-image:url(../images/tab_up.gif); 
    background-repeat:no-repeat; 
    background-position:center top;

}

#nav2 a:hover{
    /*background-color:#fff;*/
    color:#FFF;
    background-image:url(../images/tab_over.gif);
    background-repeat:no-repeat; 
    background-position:center top;
}

#nav2 li{
    float:left;
    position:relative;
}

#nav2 ul {
    position:absolute;
    display:none;
    width:12em;
    top:2.5em;
}

#nav2 li ul a{
    width:140px; 
    height:32px; 
    float:left;
}

#nav2 ul ul{
    top:auto;
}	

#nav2 li ul ul {
    left:12em;
    margin:0px 0 0 10px;
}

#nav2 li:hover ul ul, #nav2 li:hover ul ul ul, #nav2 li:hover ul ul ul ul{
    display:none;
}
#nav2 li:hover ul, #nav2 li li:hover ul, #nav2 li li li:hover ul, #nav2 li li li li:hover ul{
    display:block;
}